*{
    margin: 0%;
    padding: 0%;
    box-sizing: 0;
}
body{
font-family: 'Mulish', sans-serif; 
height: 100vh;


}
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px 150px;

}
a{
    text-decoration: none;
    
}
ul {
    list-style: none;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    color: black;
    width: 200px;
    font-weight: bold;
    line-height: 80px;
}
.nav-items{
    display: flex;
    
}
.nav-items li a{
    color:black ;
    margin-top: 0 ;
    margin:0 20px;
    opacity: 0.5;
    font-size: 16px;
}
.nav-items li a.active{
    font-weight: bold;
    opacity: 1;

}
.icon{
    position: absolute;
    top: 180px;
    left: 0;
}
.h-container{
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
    
}
.h-container .left{
    margin-right: 170px;
    animation: ToRight 800ms cubic-bezier(0.22, 0.32, 0, 1.54) 400ms;
}
.h-container .left h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
    width: 410px;
    color: black;

}
.h-container .left p{
    font-weight: 250px;
    font-size: 20px;
    color: gray;
    margin-bottom: 45px;
    width: 410px;
    
}
.h-container .right{
    animation: ToLeft 800ms cubic-bezier(0.22, 0.32, 0, 1.54) 400ms;
}
.h-container .button{
    border-radius: 40px;
    width: 180px;
    height: 40px;
    background-color:#9BC9FF;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
}
.h-container .button:hover{
    background-color: #EF7BC3;
    transition: 0.5s;
}
@keyframes ToRight{
    from {
    opacity: 0;
    transform:translateX(-100px) ;
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }

}
@keyframes ToLeft{
    from {
    opacity: 0;
    transform:translateX(100px) ;
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }

}